
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
   
    <div class="text-center marginMain">
        <div class="row">

        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="row">
                    <h3>Start Chatting!</h3>
                </div>


                <div class="row">
                    <button class="btn-lg btn-success" onclick="ShowLoginModal()">Log in</button>
                    <button class="btn-lg btn-info" onclick="ShowSignUpModal()">Join</button>
                </div>

                <div class="row">
                    <button class="btn-lg btn-link">Enter as a guest</button>
                </div>
            </div>
            <div class="col-sm-4"></div>

        </div>
        <div class="row">

        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <div id="dvContent">
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

