
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
   
    <div class="text-center marginMain">
        <div class="row">

        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="row">
                    <h3>Start Chatting!</h3>
                </div>


                <div class="row">
                    <button class="btn-lg btn-success" onclick="login()">Log in</button>
                    <button class="btn-lg btn-info" onclick="join()">Join</button>
                </div>

                <div class="row">
                    <button class="btn-lg btn-link">Enter as a guest</button>
                </div>
            </div>
            <div class="col-sm-4"></div>

        </div>
        <div class="row">

        </div>
    </div>
</div>

