body {
    padding-top: 50px;
    padding-bottom: 20px;
   
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.messageHistory
{
    height:300px !important;  
    border:groove;
    align-content:center !important;
    overflow-y:scroll;
    margin-top:10px;
    margin-bottom:10px;
}

.center{
    align-content:center !important;
    position:center !important;
    display:inline-block;
    
}
.FullWidth
{
    width:100%;
}
.inlineDiv{
    display:inline !important;
}
li{
    cursor:pointer;
}
Marginaldiv{
    margin-bottom: 20px !important;
    padding:5px !important;
}